@import "./variables";

@mixin mains {
  width: 100%;
  max-width: 1400px;
  margin: 100px auto;
}

@mixin image-container-desktop {
  display: grid;
  grid-template-columns: repeat(3, 0.6fr);
  grid-template-rows: auto;
  padding: 20px;
  grid-gap: 10px;
  justify-content: center;
}

@mixin image-container-tablet {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  padding: 20px;
  grid-gap: 10px;
  justify-content: center;
}

@mixin image-container-mobile {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  padding: 20px;
  grid-gap: 10px;
  justify-content: center;
}
