@import "./variables";
@import "./mixins";
@import "./header";
@import "./index";
@import "./accesorios";
@import "./juegos";
@import "./hardware";
@import "./contacto";
@import "./footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $primary-color;
}
